<%- include ../partials/header %>
    <%- include ../partials/categories-navbar %>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 m-auto">
                    <h1 class="mt-4 mb-5 text-center">Payment Information</h1>


                    <p>
                        At Better You, we want to make your online shopping experiences the most enjoyable ever. That’s
                        why we focus all our
                        brands and policies around you, including payment.
                        We offer you the freedom to choose from 6 different, yet equally simple, payment options.
                    </p>

                    <h3>
                        What is Cash on Delivery?

                    </h3>

                    <p>
                        We know the easiest way to pay for your online shopping in Pakistan and online deals are with
                        cash. To enjoy this
                        payment option, simply select the “Cash on Delivery” option when you book your order. You will
                        receive a call from
                        customer care before your product is sent to your door, giving you more than enough time to have
                        the cash ready.
                        Our Customer Support Representative might ask you to submit a certain portion of the total
                        amount as advance payment on
                        selected products for confirmation purpose.
                    </p>

                    <h3>
                        How do I pay using a credit/debit card?
                    </h3>
                    <p>
                        If you have a credit card, we have another exciting option available for you. Simply choose to
                        pay via credit card and
                        enjoy a hassle-free payment.
                        Better You is working hard at expanding this facility to other branches. However, you can only
                        enjoy his facility at our
                        head office for now. We’ll let you know when we add more branches. Stay tuned!
                    </p>
                    <h3>
                        Online Bank Transfer
                    </h3>
                    <p>
                        If you’re more comfortable paying with your online bank account, we give you the freedom to do
                        so. After shopping
                        online, simply choose “bank transfer” as your mode of payment. By using the latest encryption
                        methods, we ensure your
                        data is always safe and secure, allowing you to enjoy online shopping in Pakistan.
                    </p>
                    <h3>
                        Direct Bank Deposits
                    </h3>
                    <p>
                        If you live close to our banks or feel more comfortable directly depositing your payment, Better
                        You lets you do just
                        that. Simply walk into any of the 3 banks below and directly deposit our payment. It’s as easy
                        as that!
                        ATM Transfers
                        Have an ATM near your home or office? Pay directly with your ATM card and enjoy seemingly fast
                        payment. Online Shopping
                        in Pakistan has never been easier!
                    </p>

                    <h2>Note</h2>
                    Better You may ask customers to deposit payment in advance (partial or full) for certain products as
                    an assurance for
                    the order.

                    <h3>
                        Refund Process
                    </h3>

                    <p>
                        If your pre-paid order is canceled due to unavailability of the product or any other reason
                        pertaining to Better You,
                        you shall be entitled to a full refund by Better You which shall be processed and executed
                        within 7 to 10 working days.
                    </p>

                    <h3>
                        Payment Policy
                    </h3>

                    <p>
                        Better You can change the price of the ordered, the price fluctuation can be due to currency
                        devaluation, shortage of
                        product or any other unforseen incident. In such case Better You will let the customer know the
                        new price and if the
                        customer agrees then only Better You will dispatch the product.
                    </p>

                </div>
            </div>
        </div>


        <%- include ../partials/footer %>