<%- include ../partials/header %>
    <%- include ../partials/categories-navbar %>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 m-auto">
                    <h1 class="mt-4 mb-5 text-center">Why Choose us</h1>


                    <p>
                        Select from the Largest Online Marketplace in Pakistan With over 15 million products to select from, Better You offers its customers the most comprehensive listing of products
                    in the country. Whether you’re looking for electronics, apparel, appliances, or groceries – there is something for
                    everyone.
                    </p>

                    <h3>Hassle Free Delivery</h3>
                    <p>
                        Online shopping is only as good as its execution and Better You promises hassle free delivery right from the moment you
                        order to when your package is dropped at your door. We cater to both major and smaller cities alike, and give you the
                        choice to track your package as it makes its way to you so you always know your order status. If you are unsatisfied
                        with any aspect of your order, we have a simple 7-day return or exchange policy.
                    </p>


                    <h3>
                        Payment Options to Suit Every Style
                    </h3>

                    <p>
                        You can choose to pay through a credit/debit card, opt for cash on delivery. You can also avail exclusive offers by
                        downloading Better You Wallet – a closed loop digital wallet that offers you a secure, easy way to make payments. We
                        also have easypaisa & jazzcash payment method for our customers' ease.

                    </p>

                    <h3>Shop from Verified Vendors</h3>
                    <p>
                        Better You understands that online shopping in Pakistan comes with its fair share of risks. This is why with Better You
                        Marketplace and Better You Mall customers have the security of choosing from verified vendors and brands from Karachi,
                        Lahore, Islamabad and all across Pakistan. Now you’ll never have to second guess authenticity because Better You makes
                        sure to do it for you!
                    </p> 

                    <h3>
                        Avail Exclusive Discounts, Offers, and Promotions
                    </h3>
                    <p>
                        Online shopping with Better You means you get the chance to avail exclusive online-only promotional packages as well as
                        discount vouchers from our vendors when you shop from their pages. Our flash sales give you customized product offers
                        all curated with the help of our advanced AI technology so you always have deals you’ll actually be interested in!
                    </p>
                    
                    <h3>
                        Buy Value, not Just Goods with Better You Care
                    </h3>
                    <p>
                        Better You does not just cater online shopping in Pakistan but also aims to simplify the way you give back to society.
                        With charities spanning across sectors of education, health care, environmental preservation, and shelters, you can
                        choose to make a big difference with a few, simple clicks.
                    </p>


                </div>
            </div>
        </div>






        <%- include ../partials/footer %>